@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #313338; /* Discord dark grey */
  color: white;
  overflow: hidden;
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
